[submodule "third-party/emsdk"]
	path = third-party/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "build"]
	path = build
	url = https://github.com/IceSDK/gn-build
[submodule "tools"]
	path = tools
	url = https://github.com/IceSDK/IceSDK-Tools.git
